In [2]:
#First install selenium library
!pip install selenium

Requirement already satisfied: selenium in c:\users\dell\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: sortedcontainers in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\dell\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: pycparser in c:\users\dell\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
#Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [3]:
#webdriver has been downloaded from web browser as follows:
# 1) checking the version of browser from "about chrome" tab in chrome settings
# 2) dowloading the required version from link https://chromedriver.chromium.org/downloads
# 3) dwonloaded the required version of my chrome

In [3]:
# Now importing all the libraries
import selenium                        # library that is used to work with selenium
from selenium import webdriver         # importing webdriver module from selenium to open automated chrome window
import pandas as pd                    # to create dataframe
from selenium.webdriver.common.by import By  #importing inbiuld class By
import warnings                        # to ignore any sort of warning
warnings.filterwarnings ('ignore')
import time                            # use to stop search ingine for few seconds

In [4]:
# Connecting to the web driver
driver = webdriver.Chrome(r'D:\DS0522\chromedriver.exe')

In [5]:
#maximiza the automated chrome window
driver.maximize_window()

In [6]:
# opening naukri.com in automated chrome window
url = 'https://www.naukri.com'
driver.get(url)

In [7]:
# finding web element from job search bar
search_job = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_job.send_keys('Data Analyst')

In [8]:
# finding web element for job search location bar by absolute xpath method
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys ('Bangalore')

In [9]:
#clicking using absolute XPATH function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn.click()

In [10]:
#extracting all web elements having job titles
job_tags = []
title_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in title_tags [0:10]:
    job_tags.append(i.text)
len(job_tags)

10

In [11]:
#extracting location of jobs
job_locn = []
site_locn = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in site_locn [0:10]:
    job_locn.append(i.text)
len(job_locn)

10

In [12]:
#extracting the company names
company = []
company_name = driver.find_elements (By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_name [0:10]:
    company.append(i.text)
len (company)

10

In [13]:
#extracting required experience for job title
experience = []
required_experience = driver.find_elements (By.XPATH, '//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in required_experience [0:10]:
    experience.append(i.text)
len (experience)

10

In [14]:
#Data_Analyst_DataFrame
Data_Analyst_DataFrame = pd.DataFrame ()
Data_Analyst_DataFrame ['Job Title'] = job_tags
Data_Analyst_DataFrame ['Job Location'] = job_locn
Data_Analyst_DataFrame ['Company Name'] = company
Data_Analyst_DataFrame ['Experience Required'] = experience
Data_Analyst_DataFrame

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru,Cargill,3-5 Yrs
1,Data Analyst - FinTech,Bangalore/Bengaluru,Upshoot HR Solutions Pvt. Ltd.,1-4 Yrs
2,data analyst / data analytics - US MNC (analyt...,"Temp. WFH - Bangalore/Bengaluru, Gurgaon/Gurugram",Aspyra HR Services,2-7 Yrs
3,Lead Data Analyst,Bangalore/Bengaluru,Mobile Premier League (MPL),4-7 Yrs
4,Sr. Data Analyst (SAS Data Management),"Bangalore/Bengaluru, New Delhi",NMS Consultant,5-10 Yrs
5,Data Analyst,Bangalore/Bengaluru,Phonepe,1-3 Yrs
6,Data Analyst - Consumer Analytics,Bangalore/Bengaluru,Eli Lilly And Company,2-4 Yrs
7,Assistant Manager - Data Analyst,Bangalore/Bengaluru,Huquo Consulting Pvt. Ltd,3-6 Yrs
8,Manager - Data Analyst - KPO,Bangalore/Bengaluru,Huquo Consulting Pvt. Ltd,5-9 Yrs
9,Manager - Data Analyst - KPO,"Bangalore/Bengaluru, Gurgaon/Gurugram",Huquo Consulting Pvt. Ltd,3-8 Yrs

In [15]:
driver.close()

In [29]:
#Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [17]:
# Connecting to the web driver
driver = webdriver.Chrome(r'D:\DS0522\chromedriver.exe')

In [18]:
#maximiza the automated chrome window
driver.maximize_window()

In [19]:
# opening naukri.com in automated chrome window
url = 'https://www.naukri.com'
driver.get(url)

In [20]:
# finding web element from job search bar
search_job = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_job.send_keys('Data Scientist')

In [21]:
# finding web element for job search location bar by absolute xpath method
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input')
search_locn.send_keys ('Bangalore')

In [22]:
#clicking using absolute XPATH function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn.click()

In [23]:
#extracting all web elements having job titles
ds_tags = []
dstitle_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in dstitle_tags [0:10]:
    ds_tags.append(i.text)
len(ds_tags)

10

In [24]:
#extracting location of jobs
dsjob_locn = []
dssite_locn = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in dssite_locn [0:10]:
    dsjob_locn.append(i.text)
len(dsjob_locn)

10

In [25]:
#extracting the company names
dscompany = []
dscompany_name = driver.find_elements (By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in dscompany_name [0:10]:
    dscompany.append(i.text)
len (dscompany)

10

In [26]:
#Data_Scientist_DataFrame
Data_Scientist_DataFrame = pd.DataFrame ()
Data_Scientist_DataFrame ['Job Title'] = ds_tags
Data_Scientist_DataFrame ['Job Location'] = dsjob_locn
Data_Scientist_DataFrame ['Company Name'] = dscompany
Data_Scientist_DataFrame

,Job Title,Job Location,Company Name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Assistant Manager - Data Science,"Hybrid - Bangalore/Bengaluru, Mumbai, Pune",Citiustech
2,Senior Data Scientist,"Hybrid - Bangalore/Bengaluru, Pune, Chennai",Wipro
3,"Program Manager, Analytics",Bangalore/Bengaluru,Uber
4,Data Scientist - Looking For Immediate Joiners,"Hybrid - Bangalore/Bengaluru, Hyderabad/Secund...",Wipro
5,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Altair
6,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
7,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",Bizongo
8,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
9,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai",Baker Hughes

In [27]:
driver.close()

In [ ]:
#Q3: Question to scrape data using the filters available on the webpage.
#The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs from naukri.com website

In [41]:
# Connecting to the web driver
driver = webdriver.Chrome(r'D:\DS0522\chromedriver.exe')

In [42]:
#maximiza the automated chrome window
driver.maximize_window()

In [43]:
# opening naukri.com in automated chrome window
url = 'https://www.naukri.com'
driver.get(url)

In [44]:
# finding web element from job search bar
search_job = driver.find_element(By.CLASS_NAME, 'suggestor-input')
search_job.send_keys('Data Scientist')
#clicking using absolute XPATH function
search_btn = driver.find_element(By.XPATH,'/html/body/div[1]/div[6]/div/div/div[6]')
search_btn.click()

In [45]:
# clicking the job location filter
search_locn = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/p/span[1]')
search_locn.click()

In [48]:
# clicking the required salary filter
salary = driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [49]:
#extracting first 10 job titles
ds_delhi = []
dsdelhi_tags = driver.find_elements(By.XPATH, "//a[@class='title fw500 ellipsis']")
for i in dsdelhi_tags [0:10]:
    ds_delhi.append(i.text)
len(ds_delhi)

10

In [50]:
#extracting delhi job locations
dsdelhijob_locn = []
dsdelhisite_locn = driver.find_elements(By.XPATH, "//span[@class='ellipsis fleft fs12 lh16 locWdth']")
for i in dsdelhisite_locn [0:10]:
    dsdelhijob_locn.append(i.text)
len(dsdelhijob_locn)

10

In [51]:
#extracting the company names
dsdelhicompany = []
dsdelhicompany_name = driver.find_elements (By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in dsdelhicompany_name [0:10]:
    dsdelhicompany.append(i.text)
len (dsdelhicompany)

10

In [52]:
#extracting required experience for delhi job title
delhi_experience = []
required_delhiexperience = driver.find_elements (By.XPATH, '//span[@class="ellipsis fleft fs12 lh16 expwdth"]')
for i in required_delhiexperience [0:10]:
    delhi_experience.append(i.text)
len (delhi_experience)

10

In [53]:
#Delhi_Data_Scientist_DataFrame
Delhi_Data_Scientist_DataFrame = pd.DataFrame ()
Delhi_Data_Scientist_DataFrame ['Job Title'] = ds_delhi
Delhi_Data_Scientist_DataFrame ['Job Location'] = dsdelhijob_locn
Delhi_Data_Scientist_DataFrame ['Company Name'] = dsdelhicompany
Delhi_Data_Scientist_DataFrame ['Experience'] = delhi_experience
Delhi_Data_Scientist_DataFrame

,Job Title,Job Location,Company Name,Experience
0,Data Scientist,"Noida, Hyderabad/Secunderabad, Chennai, Bangal...",HCLTech,4-9 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Urgent hiring For Data Scientist (PHD Must Have),"Temp. WFH - Noida, Pune",NGI Ventures,0-4 Yrs
3,Manager - Data Science - Banking&Financial Ser...,"Delhi / NCR, Bangalore/Bengaluru",Black Turtle,4-8 Yrs
4,Data Scientist / Sr. Data Scientist,Temp. WFH - Noida,Wegarner Solutions,3-8 Yrs
5,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
6,Data Scientist,Noida,Meon Technologies,2-5 Yrs
7,Data Scientist,Noida,Alliance Recruitment Agency,3-4 Yrs
8,Data scientist- Python,Gurgaon/Gurugram,TeamPlus Staffing Solution Pvt Ltd,3-6 Yrs
9,Data Scientist,New Delhi,Razor Group GmbH,2-3 Yrs

In [ ]:
# Q4: To Scrape data of first 100 sunglasses listings on flipkart.com.

In [54]:
driver.close()

In [107]:
# Connecting to the web driver
driver = webdriver.Chrome(r'D:\DS0522\chromedriver.exe')

In [108]:
#maximiza the automated chrome window
driver.maximize_window()

In [110]:
# opening flipkart.com in automated chrome window
url = 'https://www.flipkart.com'
driver.get(url)

In [111]:
# finding web element from search bar
search_sunglasses = driver.find_element(By.CLASS_NAME, '_3704LK')
search_sunglasses.send_keys('sunglasses')

In [112]:
#clicking using class name
search_btn = driver.find_element(By.CLASS_NAME,'L0Z3Pu')
search_btn.click()

In [113]:
# to scrape 100 sunglasses
sunglasses_company = []
start = 0
end = 3
for page in range (start, end):
    company_names = driver.find_elements (By.XPATH,'//div[@class="_2WkVRV"]')
    for i in company_names:
        sunglasses_company.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click

In [114]:
All_Sunglasses = sunglasses_company[0:100]
len (All_Sunglasses)

100

In [115]:
# to scrape 100 sunglasses product description
sunglasses_description = []
start = 0
end = 3
for page in range (start, end):
    glasses_description = driver.find_elements (By.XPATH,'//a[@class="IRpwTa"]')
    for i in glasses_description:
        sunglasses_description.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click

In [116]:
#Clubbing all product descriptionAll_len(sunglasses_description)
Glass_Description = sunglasses_description [0:100]
len (Glass_Description)

100

In [117]:
# to scrape 100 sunglasses product description
sunglasses_price = []
start = 0
end = 3
for page in range (start, end):
    glasses_price = driver.find_elements (By.XPATH,'//div[@class="_25b18c"]')
    for i in glasses_price:
        sunglasses_price.append(i.text)
    next_button = driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click

In [118]:
#Clubbing all product prices
glass_price = sunglasses_price [0:100]
len (glass_price)

100

In [120]:
#Sunglassess_DataFrame
Sunglassess_DataFrame = pd.DataFrame ()
Sunglassess_DataFrame ['Brand'] = All_Sunglasses
Sunglassess_DataFrame ['Product Description'] = Glass_Description
Sunglassess_DataFrame ['Price'] = glass_price
Sunglassess_DataFrame

,Brand,Product Description,Price
0,Singco India,"Gradient, Toughened Glass Lens, UV Protection ...","₹575₹2,99980% off"
1,DEXENT COLLECTION,UV Protection Oval Sunglasses (Free Size),₹227₹44949% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹649₹99935% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹519₹79935% off
4,PIRASO,UV Protection Rectangular Sunglasses (52),"₹209₹1,59986% off"
...,...,...,...
95,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹176₹99982% off
96,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly Sunglasses (62)","₹339₹1,99983% off"
97,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...","₹331₹1,99983% off"
98,PIRASO,UV Protection Aviator Sunglasses (54),"₹251₹1,59984% off"
99,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","₹283₹1,29978% off"

In [121]:
driver.close()

In [ ]:
#Q5: To Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [16]:
# Connecting to the web driver
driver = webdriver.Chrome(r'D:\DS0522\chromedriver.exe')

In [17]:
#maximiza the automated chrome window
driver.maximize_window()

In [27]:
# opening flipkart.com in automated chrome window
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=apple+iphone+11+black+64+gb&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=organic&iid=0c14030d-4d56-4d77-9327-e9cf65e3a034.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=570nuz64ds0000001667756719988&qH=5936d526b810bc88'
driver.get(url)

In [30]:
#extracting phone ratings
phone_rating = []
apple_phoner = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in apple_phoner:
    phone_rating.append(i.text)
len(phone_rating)

10

In [31]:
# extracting phone reviews
phone_reviews = []
apple_phonereview = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in phone_reviews:
    apple_phonereview.append(i.text)
len(apple_phonereview)

10

In [32]:
# extracting phone detail review comments
phone_reviewscomment = []
apple_phonereviewcomment = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in apple_phonereviewcomment:
    phone_reviewscomment.append(i.text)
len(phone_reviewscomment)

10

In [34]:
#Phone_review_DataFrame
Phone_review_DataFrame = pd.DataFrame ()
Phone_review_DataFrame ['Rating'] = phone_rating
Phone_review_DataFrame ['Review summary'] = apple_phonereview
Phone_review_DataFrame ['Full review'] = phone_reviewscomment
Phone_review_DataFrame

,Rating,Review summary,Full review
0,5,<selenium.webdriver.remote.webelement.WebEleme...,Really satisfied with the Product I received.....
1,4,<selenium.webdriver.remote.webelement.WebEleme...,I'm Really happy with the product\nDelivery wa...
2,5,<selenium.webdriver.remote.webelement.WebEleme...,Amazing phone with great cameras and better ba...
3,,<selenium.webdriver.remote.webelement.WebEleme...,
4,,<selenium.webdriver.remote.webelement.WebEleme...,
5,,<selenium.webdriver.remote.webelement.WebEleme...,
6,,<selenium.webdriver.remote.webelement.WebEleme...,
7,,<selenium.webdriver.remote.webelement.WebEleme...,
8,,<selenium.webdriver.remote.webelement.WebEleme...,
9,,<selenium.webdriver.remote.webelement.WebEleme...,